@import "src/app/scss/harpia";

:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
    margin-bottom: -50%;
}

.form {
    margin-left: 30px;
    margin-right: 30px;
}

.mat-form-field {
    width: 100%;
    min-width: 300px;
}

mat-card-title,
mat-card-content {
    display: flex;
    justify-content: center;
}

mat-card-footer {
    text-align: center;
}

.mat-error {
    padding-bottom: 5px;
}

.button {
    display: flex;
    justify-content: center;
    min-width: fit-content;
}

.sub-title {
    margin-bottom: 2rem;
    text-align: center;
}

.full-width {
    width: 100%;
}

.form-control-group.accept-group {
    display: flex;
    justify-content: space-between;
}

mat-card {
    max-width: 50%;
}

@include media-breakpoint('xs') {
    mat-card {
        max-width: 87%;
    }
}