mat-icon {
  vertical-align: middle;
}

.mat-dialog-title {
  color: #d32d27;

  span {
    position: relative;
    top: 3px;
  }
}

mat-divider {
  margin-top: 20px;
}

.content-error {
  color: #d32d27;
}
