<div id="wrapper">
    <div id="container-1" class="container">
        <div id="container-2" class="container">
            <div id="container-3" class="container">
                <!-- toolbar -->
                <hp-toolbar [languages]="languages" [selectedLanguage]="selectedLanguage"
                    (changeLanguage)="onChangeLanguage($event)" (clickLogout)="onLogout()"></hp-toolbar>
                <!-- content -->
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <hp-footer>
    </hp-footer>
</div>